<div class="container">
  <div class="inner-container">
    <h1>Ticket Generator</h1>
    <input 
      #movieInput
      type="text" 
      placeholder="Movie Title"
      (input)="onMovieInput(movieInput.value)"
    >
    <div class="numeric-input">
      <label for="number-of-rows">Number of rows</label>
      <input 
        #rowsInput
        type="number" 
        id="number-of-rows"
        (input)="onRowsInput(rowsInput.value)"
        [value]="numberOfRows" 
      >
    </div>
    <div class="numeric-input">
      <label for="number-of-seats">Number of seats per row</label>
      <input 
        #seatsInput
        type="number" 
        id="number-of-seats"
        (input)="onSeatsInput(seatsInput.value)"  
        [value]="seatsPerRow"      
      >
    </div>
    <input 
      #nameInput
      type="text" 
      placeholder="Name"
      (input)="onNameInput(nameInput.value)"
      [value]="spectatorName"
    >
    <button
      (click)="generateTicket()"
    >
      Generate Ticket
    </button>
    <p 
      *ngIf="errorMessage" 
      class="error-msg"
    >
      {{ errorMessage }}
    </p>

    <div *ngIf="ticketCreated" class="ticket-container">
      <div class="ticket">
        <p>Name: {{ spectatorNameOnTicket }}</p>
        <p class="title">Movie: {{ movieTitle }}</p>
        <p>Row: {{ randomRow }}</p>
        <p>Seat: {{ randomSeat }}</p>
      </div>
    </div>
  </div>  
</div>